## Midterm Exam 13:00-14:00

**Question 1.** Peter studies and lives in Tilburg. He will start an internship in Utrecht in the next year and unfortunately, he has to pay to travel for the train. The supervisor of his internship gave Peter a choice: Peter can decide for himself how many days he wants to follow the internship. Because Peter does not want to have any loan in the end of his studies, he wants to calculate how many days he can follow the internship without ending up with any debts. 

The following function calculates the amount of days Peter can travel back and forth given his income and the travel costs, rent and other expenses he has to pay every month (hint: remember that Peter needs to come back every day):

In [ ]:
def internship_days(income, travel_costs, rent, other_expenses):
    # return the number of days a month he can follow the internship

Please complete the definition of the function. Here is what you can assume about this function:
* The input parameters 'income', 'travel_costs', 'rent' and 'other_expenses' are non-negative float values. 
* The function 'internship_days' must return a non-negative integer as its return value, reflecting the number of days Peter can afford traveling back and forth.
* The returned value cannot be greater than 30 (maximum days in a month that Pieter can do the internship, for this assignment: each month contains 30 days).

*Example:* internship_days(1000, 12, 300, 100) returns **25**.

### Solution:

In [ ]:
def internship_days(income, travel_costs, rent, other_expenses):
    if travel_costs <=0: return 30

    days = (income - rent - other_expenses) // (travel_costs * 2)
    if (days < 0): return 0
    elif (days > 30): return 30
    return days

In [ ]:
internship_days(100,50,200,300)

In [ ]:
internship_days(450,50,100,100)

In [ ]:
internship_days(1000,50,100,100)

In [ ]:
internship_days(500,5,100,100)

In [ ]:
internship_days(0,2,300,0)

**Question 2.** Peter wants to earn a bit more money and takes a job as a bartender at a student cafe that only serves beer (cost 2.00), wine (cost 2.50) and sodas (cost 1.50). After taking each order, Peter should calculate the amount people have to pay.

The following function gets a string with the ordered drinks as single letters, where each letter indicates one ordered drink ('B' stands for beer, 'W' stands for wine and 'S' stands for sodas). The function returns the amount that should be payed for the given order:

In [ ]:
def calculate_payment(order):
    #return the amount people have to pay for their order

Please complete the definition of the function. Here is what you can assume about this function:
* The input parameter 'order' is a string, where each letter is either 'B', 'S' or 'W'. 
* The input string can be empty or it can contain multiple occurrences of the same letter. 
* You can assume that all letters in 'order' are capitalized, and no letters other than 'B', 'S' and 'W' can be found in 'order'.
* The function 'calculate_payment' returns a float value, reflecting the total cost of drinks specified by 'order'.

*Example:* calculate_payment('BBSS') returns **7.0**.

### Solution:

In [ ]:
def calculate_payment(order):
    cost = 0
    for l in order:
        if l == 'B': cost += 2.0
        elif l == 'W': cost += 2.5
        elif l == 'S': cost += 1.5
    return cost

In [ ]:
calculate_payment('')

In [ ]:
calculate_payment('BWS')

In [ ]:
calculate_payment('BBBBBB')

In [ ]:
calculate_payment('BBSSS')

In [ ]:
calculate_payment('WSBSBW')

## Midterm Exam 19:00-20:00

**Question 1.** Luna has a fixed budget for housing and is looking for an apartment she can afford. Since she is not rich, she is considering sharing a flat with a number of roommates.

The function 'affordable' receives the rent of an apartment, its service costs, the number of flatmates who can live there together with Luna and Luna's budget as input parameters. It returns True if Luna can afford the house, and False if she cannot:

In [ ]:
def affordable(rent, service, flatmates, budget):
    #return true if Luna can afford the house, false otherwise

Please complete the definition of the function. Here is what you can assume about this function:
* 'rent', 'service' and 'budget' take non-negative float values.
* 'flatmates' takes a non-negative integer value.
* rent and service costs are divided equally among the flatmates.
* The function 'affordable' returns a boolean value (True or False).

**Example:** affordable(1000, 200, 3, 200) should return **False**.

# Solution

In [ ]:
def affordable(rent, service, flatmates, budget):
    share = (rent + service) / (flatmates+1)
    if share <= budget:
        return True
    return False

In [ ]:
affordable(100,200,3,1000)

In [ ]:
affordable(1000,200,3,200)

In [ ]:
affordable(0,0,1,100)

In [ ]:
affordable(200,100,1,0)

In [ ]:
affordable(0,0,0,0)

**Question 2.** Sam has studied in the US and now wants to apply for a university program in the Netherlands. For this purpose, he has to convert his American-style grades and calculate their average. 

Write a function 'grade_average' which receives a string containing Sam's grades, and returns their average in Dutch system. The input parameter 'grades' contains a sequence of characters, each representing a grade. Here are the conversion rules:
* American 'A' is the equivalent of Dutch 8.0 
* American 'B' is the equivalent of Dutch 7.0 
* American 'C' is the equivalent of Dutch 6.0 
* American 'D' is the equivalent of Dutch 5.0 
* American 'F' is the equivalent of Dutch 1.0

In [ ]:
def grade_average(grades):
    #return the average of grades in Dutch system.

Please complete the definition of the function. Here is what you can assume about this function:
* The input parameter 'grades' is a non-empty string, and each of its characters is either 'A', 'B', 'C', 'D' or 'F'.
* All characters in 'grades' are capitalized.
* 'grade_average' returns a float value.

*Example:* grade_average('ACDAF') returns **5.6**.

In [ ]:
def grade_average(grades):
    total = 0
    num = 0
    for g in grades:
        if g == 'A':
            total += 8
        elif g == 'B':
            total += 7
        elif g == 'C':
            total += 6
        elif g == 'D':
            total += 5
        else: total += 1.0
        num += 1
    return total/num

In [ ]:
grade_average('A')

In [ ]:
grade_average('AB')

In [ ]:
grade_average('ABC')

In [ ]:
grade_average('BCDDD')

In [ ]:
grade_average('ABCAF')